  .uber-button {
    background-color: black;
    color: white;
    height: 35px;
    width: 115px;
    border: none;
    cursor: pointer;
    margin-right: 50px;
    transition: opacity 0.15s;
  }
  .uber-button:hover {
    opacity: 0.8;
  }

  .uber-button:active {
    opacity: 0.5;
  }

  .Amazon-button {
    background-color: rgb(255, 216, 20);
    font-weight: bold;
    height: 30px;
    width: 160px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.15s;
  }

  .Amazon-button:hover {
    opacity: 0.8;
  }

  .Amazon-button:active {
    opacity: 0.5;
  }

  .GitHub-button {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 30px;
    width: 86px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 40px;
    cursor: pointer;
  }

  .GitHub-button:hover {
    opacity: 0.8;
    transition: opacity 0.15s;
  }

  .GitHub-button:active {
    opacity: 0.5;
  }

  .getstarted-button {
    background-color: rgba(121, 82, 179, 0.865);
    color: white;
    border: none;
    height: 35px;
    width: 105px;
    font-weight: bold;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
  }

  .getstarted-button:hover {
    opacity: 0.8;
    transition: opacity 0.15s;
  }
  .getstarted-button:active {
    opacity: 0.5;
  }

    .download-button {  
      background-color: white;
      color: rgb(108, 117, 125);
      font-weight: bold;
      height: 35px;
      width: 100px;
      border-radius: 3px;
      border-color: rgb(108, 117, 125);
      border-width: 1px;
      cursor: pointer;
      border-style: solid;
      transition: background-color 0.5s, color 0.5s;
  }

  .download-button:hover {
    background-color: rgb(108, 117, 125);
    color: white;
    opacity: 0.5;
  }

  .download-button:active {
    opacity: 0.7;
  }

  .Bootstrap-button {
    margin-top: 30px;
  }

  /*LinkedIn button*/

  .apply-button {
    background-color: rgb(10, 102, 194);
    border: none;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 220px;
    border-radius: 20px;
    cursor: pointer;
  }

  .apply-button:hover {
    opacity: 0.5;
    transition: opacity 0.15s;
  }

  .apply-button:active {
    opacity: 0.8;
  }
 
  .save-button {
    background-color: white;
    height: 35px;
    width: 70px;
    border-color: rgb(10, 102, 194);
    border-width: 1px;
    border-radius: 20px;
    margin-left: 5px;
    cursor: pointer;
    border-style: solid;
    transition: opacity 0.15s;
  }
   .save-button:hover {
    background-color: rgb(10, 102, 194);
    color: white;
    opacity: 0.8;
   }

   .save-button:active {
    opacity: 0.5;
   }

  .linkedIn-button {
    margin-top: 50px;
  }

  .cart a{
    color: rgb(0, 113, 133);
  }

  #green {
    color: rgb(0, 118, 0);
    font-weight: bold;
  }

  .cart .add-button {
    background-color: rgb(255, 216, 20);
    height: 35px;
    width: 120px;
    border: none;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
    transition: opacity 0.15s;
  }

  .cart .add-button:hover {
    opacity: 0.8;
  }
s
  .cart .add-button:active {
    opacity: 0.5;
  }

  .cart .buy-button {
    background-color: rgb(255, 164, 28);
    height: 35px;
    width: 120px;
    border: none;
    font-weight: bold;
    border-radius: 18px;
    margin-left: 10px;
    cursor: pointer;
  }

  .cart .buy-button:hover {
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.15s;
    color: 0.15;
  }

  .cart {
    margin-top: 50px;
  }

  a:hover {
    color: rgb(255, 164, 28);
    transition: opacity 0.15s;
  }